.listtitle{
	clear: both;
	color: #003;
	font-size: 16px;
	text-indent: 2;
	text-transform: capitalize;	
}

.listitem{
	width: 200px;
	height: 300px;
	margin: 1px;
	border: 1px solid #aaa;
	float: left;
}

.listimg{
	width: 100%;
	height: 250px;	
	background-color: #003;
}

.listimg img{
	width: 200px;
	height: 250px;
}

.listdesc{
	width: 98%;
	padding: 2px 2px 2px 2px;
	overflow: auto;
}

.listshortdesc{
	float: left;
	font-size: 10px;
	font-style: italic;
	color: #000;
	width: 135px;
	height: 45px;
	overflow: hidden;
}

.listprice{
	float: left;
	width: 60px;
	color: darkgray;
	font-size: 12px;
}