<% c++ #include "../../data/data.h" %>
<% skin user %>
<% view profile uses data::profile extends usermaster %>
<% template header_more() %>
	<link href="/css/profile.css" type="text/css" rel="stylesheet" />
<% end %>

<% template content_data() %>
<div id="profile_data">
<form method="post" id="profile_post" target="_self">
<table border="0" cellpadding="0" cellspacing="0">
	<tr><td>Client Type</td><td><select name="clientType">
						<option selected value="person">Person</option>
						<option value="organization">Organization</option></select></td></tr>
	<tr><td>User Name</td><td><input type="text" name="username"></input></td></tr>
	<tr><td>Password</td><td><input type="text" name="password"></input></td></tr>
	<tr><td>Confirm Password</td><td><input type="text" name="repassword"></input></td></tr>
	<tr><td>First Name</td><td><input type="text" name="fname"></input></td></tr>
	<tr><td>Last Name</td><td><input type="text" name="lastName"></input></td></tr>
	<tr><td>Identity Number</td><td><input type="text" name="identityNumber"></input></td></tr>
	<tr><td>Country</td><td><input type="text" name="country"></input></td></tr>
	<tr><td>Town</td><td><input type="text" name="town"></input></td></tr>
	<tr><td>Zip Code</td><td><input type="text" name="zipCode"></input></td></tr>
	<tr><td>Address</td><td><input type="text" name="address"></input></td></tr>
	<tr><td>Phone</td><td><input type="text" name="phone"></input></td></tr>
	<tr><td>Fax</td><td><input type="text" name="fax"></input></td></tr>
	<tr><td>Web Site</td><td><input type="text" name="webSite"></input></td></tr>
	<tr><td>Contact Person</td><td><input type="text" name="contactPerson"></input></td></tr>
	<tr><td colspan="2"><div class="form_buttons"><input type="submit" value="Save"></input></div></td></tr>
</table>
</form>
</div>
<% end template %>


<% end view %>
<% end skin %>
