#details{
	margin: 10px 1px 10px 1px;
	clear: both;
}

#item_pictures{
	width: 50%;
	float: left;
	overflow: auto;	
}

#main_picture{
	width: 100%;
}

#main_picture img{
	width: 500px;
	height: 500px;
}

#all_pictures{
	width: 100%;
}

.thumb_picture{
	float: left;
}

.thumb_picture img{
	width: 100px;
	height: 100px;
}

#item_info{
	color: #003;
	overflow: auto;
	padding: 0 10px 10px 10px;
}

#item_title{
	font-size: 16px;
	clear: both;
}				

#item_shortdesc{
	width: 100%;
	clear: both;
	overflow: auto;
	margin: 10px 0 0 0;
}
				
#item_detaildesc{
	width: 100%;
	overflow: hidden;
	clear: both;
	/*height: 1px;*/
	margin: 10px 0 0 0;
}
	
#item_definition{
	clear: both;
	margin: 10px 0 0 0;
}

#add_to_basket{
	width: 100%;
	clear: both;
	margin: 10px 0 0 0;
}

#price{
	width: 50%;
	color: darkgray;
	float: left;	
}

#btn_to_basket{
}	

#share{
	clear: both;
	margin: 10px 0 0 0;
}

#fbLike{
}							


#related{
	width: 100%;
}
