html {
	background: url("img/shadow.gif") center top repeat-y;
	background-color: #003;
	color: white;
	font-size: 11px;
	font-family: Helvetica;
}
body{
	margin: 0;	
}
#wrapper{
	width: 1020px;
	margin: 0 auto;
}
#header{
	text-transform: uppercase;
	height: 100px;
	background: url("img/header_bg.jpg") center center repeat;
	clear: both;	
	border-bottom: solid 1px white;
}	
#header .message{
	padding: 5px 5px 0 0;
	text-align: right; 
	height: 25px;
	clear: both;
}
#header .title{
	height: 50px;
	text-align: left;
	clear: both; 	
}
#header .account{
	padding: 0 5px 5px 0;
	text-align: center; 
	vertical-align: bottom; 
}
#header .account .login{
	width: 80px;
	float: right;
}
#header .account .itemcount{
	width: 30px;
	float: right;
}
#header .account .basket{
	width: 80px;
	float: right;
}
#menu{
	text-transform: uppercase;
	border-bottom: solid 1px white;
	clear: both;
	padding: 0 0 0 5px;
	overflow: visible;	
	height: 14px;
}

#menu > ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menuItem{
	float: left;
}

.mainLink{
	padding: 0 5px;
	color: white;
	cursor: pointer;
}

.mainLink:hover{
	color: red;
}

.menuItemContainer{
	display: none;
	padding: 5px 15px 5px 15px;
	overflow: auto;
	border: 1px solid grey;
	z-index: 100;
	position: absolute;
	background-color: #003;
	opacity: 0.9;
}

.menuItemContainer a{
	text-decoration: none;
	color: white;
}

.menuItemContainer a:hover{
	color: red;
}

.menuItemColumn{
	float: left;
}

.menuItemColumn ul{
	list-style: none;
	padding: 0;
}

.vDivider{
	float: left;
	width: 1px;
	height: 120px;
	background-color: grey;
	margin: 3px 15px 0 15px;
	overflow: auto;
	display: block;
}

.show{
	display: block;
}

.active{
	color: red;
}

#breadcrumb{
	border-bottom: 1px solid #999;
	height: 18px;
	line-height: 18px;
	font-size: 10px;
	padding: 0 0 0 10px;
	background-color: white;
	color: #999;
	clear: both;
}
#breadcrumb .devider{
	padding: 0 0 0 3px;
	margin: 0;
}
#breadcrumb a{
	color: #999;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
#content{
	background-color: white;
	clear: both;
	color: #003;
	overflow: auto;	
}
#left{
	width: 204px;
	float: left;
	text-transform: uppercase;
}
#center{
	float: left;
	width: 816px;
}
#right{
	width: 0px;
	float: right;	
	overflow: hidden;
}
#footer{
	clear: both;	
	border-top: solid 1px gray;;
	border-bottom: solid 1px gray;
	background: url("img/footer_bg.jpg") center center repeat-x;
	width: 100%;
	height: 66px;
}	
#footer1{
	clear: both;	
}	
